body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: #a79280;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
    background-color: #fffff0;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-info {
    margin-left: 20px;
    position: relative;
}

.header {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: #fffff0;
    color: #cc8d80;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.x-value {
    color: #cc8d80
}

.o-value {
    color: #a8b9bd
}